<!DOCTYPE html>
<html>
  <head>
    <title>Encounters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/cryptids">Database</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/encounters">Encounters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/appearances">Cryptid Media</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/" tabindex="-1" aria-disabled="true">home</a>
      </li>
    </ul>
    <div class='container'> 
    <%= yield %>
  </div>
  </body>
</html>
